In [136]:
import pandas as pd
import numpy as np

In [137]:
ar = pd.read_csv('ar_202212.csv')
user = pd.read_csv('user.csv')
log = pd.read_csv('log_202212.csv')

In [138]:
log = log.fillna(0)

In [139]:
cols = list(log.columns)
for c in cols[2:]:
    log[c] = log[c].astype(int)

In [140]:
log

,Unnamed: 0,user,クリックURL,article_0,article_1,article_2,article_3,article_4
0,0,39eb968d16742557ee71fa4b58cd2675,679754,679754,681617,0,0,0
1,1,dfb52d54832e30685d351a52f17917ad,854421,857888,857889,856872,854421,854413
2,2,dfb52d54832e30685d351a52f17917ad,891820,891820,875031,876049,886155,886880
3,3,b7374b15b02593d534d5d390d9778469,877260,868084,877260,847149,883519,874613
4,4,dd4de9f40f268ba7c67ffb9c124e0afd,871422,871422,871250,868098,862610,850555
...,...,...,...,...,...,...,...,...
2046,2046,ca4302a0d4de0ad997490894574981dd,874782,874782,874704,439179,0,0
2047,2047,cf704d8a527c21d6a579c8a785b4709a,874782,874782,874704,439179,0,0
2048,2048,4afc839b7826785eec9144647d0c7de0,874782,874782,874704,439179,0,0
2049,2049,93b5102e8f29f34b5ca2abd1fb264365,874782,874782,874704,439179,0,0
2050,2050,8ef5fc3f97b9da7f4b68f0242a398059,874782,874782,874704,439179,0,0

In [141]:
feature = pd.merge(log, user, on='user')
feature = feature.reindex(columns=['user_0', 'user_1', 'user_2', 'user_3', 'user_4', 'user_5', 'クリックURL', 'reward', 'article_0', 'article_1',	'article_2','article_3','article_4'	])
feature['reward'] = 1

In [142]:
feature

,user_0,user_1,user_2,user_3,user_4,user_5,クリックURL,reward,article_0,article_1,article_2,article_3,article_4
0,-0.551060,0.600955,0.217623,0.114511,0.100328,1.0,871422,1,871422,871250,868098,862610,850555
1,-0.647270,-0.127286,-0.096037,-0.065153,0.616682,1.0,455726,1,503379,471686,475002,455726,499046
2,-0.647270,-0.127286,-0.096037,-0.065153,0.616682,1.0,475002,1,503379,471686,475002,455726,499046
3,-0.647270,-0.127286,-0.096037,-0.065153,0.616682,1.0,524382,1,581053,570341,561181,553566,524382
4,-0.647270,-0.127286,-0.096037,-0.065153,0.616682,1.0,553566,1,581053,570341,561181,553566,524382
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,-0.754153,-0.271027,-0.182930,-0.189844,0.774729,1.0,874704,1,874782,874704,439179,0,0
1462,-0.682581,0.707373,-0.116062,0.819515,-0.397606,1.0,874704,1,874782,874704,439179,0,0
1463,-0.650856,0.751532,0.292456,0.150245,0.619971,1.0,874704,1,874782,874704,439179,0,0
1464,0.054269,0.724026,0.262665,0.269224,0.647206,1.0,874704,1,874782,874704,439179,0,0
1465,0.054269,0.724026,0.262665,0.269224,0.647206,1.0,874782,1,874782,874704,439179,0,0

In [143]:
feature.to_csv("test.csv", header=False, sep='\t', float_format='%.6f')

In [144]:
line = [-0.551060,	0.600955,	0.217623,	0.114511,	0.100328,	1.0,	871422,	0,	871422,	871250,	868098,	0,	0]
article = [int(x) for x in line[7:]]
print([s for s in article if s != 0])

[871422, 871250, 868098]

In [145]:
article

[0, 871422, 871250, 868098, 0, 0]